In [4]:
from pandas.core.computation.check import NUMEXPR_INSTALLED
import pandas as pd
import numpy as np
import toad
import os

In [8]:
working_directory = os.getcwd()
data_path = "Kaggle-GiveMeSomeCredit-master/data"
file_training = "GiveMeSomeCredit-training.csv"
file_testing = "GiveMeSomeCredit-testing.csv"

file_full_path_training = os.path.join(working_directory, data_path, file_training)
file_full_path_testing = os.path.join(working_directory, data_path, file_testing)

if not os.path.exists(file_full_path_training):
    print("Could not find file: " + file_full_path_training)
else:
    train_df = pd.read_csv(file_full_path_training)    
    test_df = pd.read_csv(file_full_path_testing)

In [9]:
print('Shape:',train_df.shape)
train_df.head(10)

Shape: (150000, 12)

,Unnamed: 0,SeriousDlqin2yrs,RevolvingUtilizationOfUnsecuredLines,age,NumberOfTime30-59DaysPastDueNotWorse,DebtRatio,MonthlyIncome,NumberOfOpenCreditLinesAndLoans,NumberOfTimes90DaysLate,NumberRealEstateLoansOrLines,NumberOfTime60-89DaysPastDueNotWorse,NumberOfDependents
0,1,1,0.766127,45,2,0.802982,9120.0,13,0,6,0,2.0
1,2,0,0.957151,40,0,0.121876,2600.0,4,0,0,0,1.0
2,3,0,0.658180,38,1,0.085113,3042.0,2,1,0,0,0.0
3,4,0,0.233810,30,0,0.036050,3300.0,5,0,0,0,0.0
4,5,0,0.907239,49,1,0.024926,63588.0,7,0,1,0,0.0
5,6,0,0.213179,74,0,0.375607,3500.0,3,0,1,0,1.0
6,7,0,0.305682,57,0,5710.000000,NaN,8,0,3,0,0.0
7,8,0,0.754464,39,0,0.209940,3500.0,8,0,0,0,0.0
8,9,0,0.116951,27,0,46.000000,NaN,2,0,0,0,NaN
9,10,0,0.189169,57,0,0.606291,23684.0,9,0,4,0,2.0

In [10]:
print('Shape:',test_df.shape)
test_df.head(10)

Shape: (101503, 12)

,Unnamed: 0,SeriousDlqin2yrs,RevolvingUtilizationOfUnsecuredLines,age,NumberOfTime30-59DaysPastDueNotWorse,DebtRatio,MonthlyIncome,NumberOfOpenCreditLinesAndLoans,NumberOfTimes90DaysLate,NumberRealEstateLoansOrLines,NumberOfTime60-89DaysPastDueNotWorse,NumberOfDependents
0,1,NaN,0.885519,43,0,0.177513,5700.0,4,0,0,0,0.0
1,2,NaN,0.463295,57,0,0.527237,9141.0,15,0,4,0,2.0
2,3,NaN,0.043275,59,0,0.687648,5083.0,12,0,1,0,2.0
3,4,NaN,0.280308,38,1,0.925961,3200.0,7,0,2,0,0.0
4,5,NaN,1.000000,27,0,0.019917,3865.0,4,0,0,0,1.0
5,6,NaN,0.509791,63,0,0.342429,4140.0,4,0,0,0,1.0
6,7,NaN,0.587778,50,0,1048.000000,0.0,5,0,0,0,3.0
7,8,NaN,0.046149,79,1,0.369170,3301.0,8,0,1,0,1.0
8,9,NaN,0.013527,68,0,2024.000000,NaN,4,0,1,0,0.0
9,10,NaN,1.000000,23,98,0.000000,0.0,0,98,0,98,0.0

In [13]:
print(train_df.duplicated().value_counts())
print(test_df.duplicated().value_counts())

False    150000
dtype: int64
False    101503
dtype: int64

In [11]:
train_df.rename(columns={'Unnamed: 0':'ID'}, inplace=True)
test_df.rename(columns={'Unnamed: 0':'ID'}, inplace=True)

In [12]:
train_df.describe().round(decimals=2)

,ID,SeriousDlqin2yrs,RevolvingUtilizationOfUnsecuredLines,age,NumberOfTime30-59DaysPastDueNotWorse,DebtRatio,MonthlyIncome,NumberOfOpenCreditLinesAndLoans,NumberOfTimes90DaysLate,NumberRealEstateLoansOrLines,NumberOfTime60-89DaysPastDueNotWorse,NumberOfDependents
count,150000.00,150000.00,150000.00,150000.00,150000.00,150000.00,120269.00,150000.00,150000.00,150000.00,150000.00,146076.00
mean,75000.50,0.07,6.05,52.30,0.42,353.01,6670.22,8.45,0.27,1.02,0.24,0.76
std,43301.41,0.25,249.76,14.77,4.19,2037.82,14384.67,5.15,4.17,1.13,4.16,1.12
min,1.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
25%,37500.75,0.00,0.03,41.00,0.00,0.18,3400.00,5.00,0.00,0.00,0.00,0.00
50%,75000.50,0.00,0.15,52.00,0.00,0.37,5400.00,8.00,0.00,1.00,0.00,0.00
75%,112500.25,0.00,0.56,63.00,0.00,0.87,8249.00,11.00,0.00,2.00,0.00,1.00
max,150000.00,1.00,50708.00,109.00,98.00,329664.00,3008750.00,58.00,98.00,54.00,98.00,20.00

In [14]:
toad.detect(train_df)

,type,size,missing,unique,mean_or_top1,std_or_top2,min_or_top3,1%_or_top4,10%_or_top5,50%_or_bottom5,75%_or_bottom4,90%_or_bottom3,99%_or_bottom2,max_or_bottom1
ID,int64,150000,0.00%,150000,75000.500000,43301.414527,1.0,1500.99,15000.900000,75000.500000,112500.250000,135000.100000,148500.010000,150000.0
SeriousDlqin2yrs,int64,150000,0.00%,2,0.066840,0.249746,0.0,0.00,0.000000,0.000000,0.000000,0.000000,1.000000,1.0
RevolvingUtilizationOfUnsecuredLines,float64,150000,0.00%,125728,6.048438,249.755371,0.0,0.00,0.002969,0.154181,0.559046,0.981278,1.092956,50708.0
age,int64,150000,0.00%,86,52.295207,14.771866,0.0,24.00,33.000000,52.000000,63.000000,72.000000,87.000000,109.0
NumberOfTime30-59DaysPastDueNotWorse,int64,150000,0.00%,16,0.421033,4.192781,0.0,0.00,0.000000,0.000000,0.000000,1.000000,4.000000,98.0
DebtRatio,float64,150000,0.00%,114194,353.005076,2037.818523,0.0,0.00,0.030874,0.366508,0.868254,1267.000000,4979.040000,329664.0
MonthlyIncome,float64,150000,19.82%,13594,6670.221237,14384.674215,0.0,0.00,2005.000000,5400.000000,8249.000000,11666.000000,25000.000000,3008750.0
NumberOfOpenCreditLinesAndLoans,int64,150000,0.00%,58,8.452760,5.145951,0.0,0.00,3.000000,8.000000,11.000000,15.000000,24.000000,58.0
NumberOfTimes90DaysLate,int64,150000,0.00%,19,0.265973,4.169304,0.0,0.00,0.000000,0.000000,0.000000,0.000000,3.000000,98.0
NumberRealEstateLoansOrLines,int64,150000,0.00%,28,1.018240,1.129771,0.0,0.00,0.000000,1.000000,2.000000,2.000000,4.000000,54.0
NumberOfTime60-89DaysPastDueNotWorse,int64,150000,0.00%,13,0.240387,4.155179,0.0,0.00,0.000000,0.000000,0.000000,0.000000,2.000000,98.0
NumberOfDependents,float64,150000,2.62%,13,0.757222,1.115086,0.0,0.00,0.000000,0.000000,1.000000,2.000000,4.000000,20.0

In [16]:
to_drop = ['ID']
toad.quality(train_df.drop(to_drop,axis=1),'SeriousDlqin2yrs',iv_only=True)

/Users/chuhanli/opt/anaconda3/lib/python3.8/site-packages/toad/stats.py:389: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for name, series in frame.iteritems():

                                            iv  gini  entropy    unique
RevolvingUtilizationOfUnsecuredLines  1.163142   NaN      NaN  125728.0
NumberOfTimes90DaysLate               0.880725   NaN      NaN      19.0
NumberOfTime30-59DaysPastDueNotWorse  0.761485   NaN      NaN      16.0
NumberOfTime60-89DaysPastDueNotWorse  0.601348   NaN      NaN      13.0
age                                   0.264446   NaN      NaN      86.0
NumberOfOpenCreditLinesAndLoans       0.111157   NaN      NaN      58.0
DebtRatio                             0.093587   NaN      NaN  114194.0
MonthlyIncome                         0.093006   NaN      NaN   13595.0
NumberRealEstateLoansOrLines          0.065721   NaN      NaN      28.0
NumberOfDependents                    0.036456   NaN      NaN      14.0

In [18]:
train_selected, dropped = toad.selection.select(train_df,target = 'SeriousDlqin2yrs', empty = 0.9, iv = 0.05, corr = 0.7, return_drop=True, exclude=['ID'])
print(dropped)
print(train_selected.shape)

{'empty': array([], dtype=float64), 'iv': array(['NumberOfDependents'], dtype=object), 'corr': array(['NumberOfTime60-89DaysPastDueNotWorse',
       'NumberOfTime30-59DaysPastDueNotWorse'], dtype=object)}
(150000, 9)